@model dynamic
<div class="flex flex-col gap-8">

    <header class="font-semibold flex flex-col gap-2">
        <div>@Model.topic</div>
        <div class="text-3xl">@Model.title</div>
    </header>

    @if (Model.textArea1 != null)
    {
        <div>@Model.textArea1</div>
    }

    @if (Model.imageSrc != null)
    {
        <img class="rounded-tr-3xl" src="@Model.imageSrc" />
    }

    @if (Model.textArea2 != null)
    {
        <div>@Model.textArea2</div>
    }

</div>